*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing:border-box;
}
body{
    background:linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(img/blackbg.jpg);
}


/*--Logo--*/

.title{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
}
.logo{
    width: auto;
    cursor: pointer;
}
.logo strong{
    font-size: 25px;
    margin: 16%;
    color: #08A045;
}
#logo-text{
    color:#fff;
}

/*--Side Menu--*/

#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #08A045;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.active, nav ul li a:hover{
    background-color: #16e45b;
    border-radius: 4px;
    height: 40px;
}
#menuBtn{
    width: 5%;
    margin-top: 50px;
    text-align: center;
    position: fixed;
    right: 25px;
    top:1px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 35px;
    margin-top: 1px;
    border-radius: 35px;
}

/*--Content--*/

/*--Basic Text--*/
.basic-title-text{
    color: rgba(250,255,25,1);
    font-size: 45px;
    text-align: center;
    margin: 20px;
    margin-top: 45px;
}
#opener-text{
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    line-height: 45px;
    margin: 70px;
    text-align: center;
}

/*--Grey Box--*/
.text-container{
    background-color: rgba(69,69,69,1) ;
    width: auto;
    height: auto;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px
    

}
#container-title{
    color: #fff;
    text-align: center;
    font-size: 40px;
}
#text-to-left{
    color: #fff;
}
#text-to-left h4{
    font-size: 30px;
    margin: 20px;
}
#text-to-left p{
    font-size: 20px;
    margin: 20px;
    font-weight: 600;
    line-height: 1.5;
    display: block;
}
#text-to-left a{
    color: #fff;
    background-color: #08A045;
    border-radius: 5px;
    margin: 30px;
    padding: 5px;
}
#text-to-left a:hover{
background-color: #16e45b;
}
#text-to-right{
    color:#fff;
}
#text-to-right a{
    color:#fff;
    background-color: #08A045;
    border-radius: 5px;
    margin: 30px;
    padding: 5px;
}
#text-to-right a:hover{
    background-color: #16e45b;
    }
#text-to-right h4{
    font-size: 30px;
    margin: 20px;
}
#text-to-right p{
    display: block;
    margin: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}

/*--General Information--*/
#general-information{
    color: #fff;
}
#general-information h3{
    text-align: center;
    color: rgba(250,255,25,1);
    font-size: 45px;
    margin: 50px;
}
#general-information #information-list{
    font-size: 25px;
    text-align: center;
    line-height: 70px;
    font-weight: bold;
}
#information-list li{
    margin-top: 10px;
}











/*--Google Map--*/

.map-section {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 230px; /* Adjust the height as needed */
    filter: blur(0px); /* Initial blur effect */
    margin-top: 200px;
}
.map-container {
    width: 100%;
    height: 255px;
    position: relative;
    filter: blur(0px); /* Apply the initial blur */
}
#map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.map-container iframe{
    width: 100%;
    height: 250px;

}

/*--Footer--*/

.footer{
    background-color: black;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-top: auto;
    padding-top: 30px;
    padding-right: 15px;
}
#logo-img{
    text-align:center;
    margin-bottom: 5px;

}
#contact-info{
    color: #fff;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    
    
}
#contact-info img{
    padding: 0 5px;
    margin-left: 15px;
    text-align: center;
    margin-right: -5px;
    color: #fff;

}
#copyright{
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;

}



/*--smaller screen changes--*/

@media screen and (max-width:770px){
    nav ul li a{
        font-size: 15px;
    }
    #menuBtn{
        margin-right: 15px;
    }
    .basic-title-text{
        font-size: 25px;
    }
    #opener-text{
        font-size: 14px;
    }
    #container-title{
        font-size: 22px;
    }
    #text-to-left h4{
        font-size: 20px;
    }
    #text-to-left p{
        font-size: 15px;
    }
    #text-to-right h4{
        font-size: 20px;
    }
    #text-to-right p{
        font-size: 15px;
    }
    #general-information h3{
        font-size: 25px;
    }
    #general-information #information-list{
        font-size: 15px;
        line-height: 50px;
        margin: 20px;
    }
    #copyright{
        font-size: 14px;
    }
    #contact-info{
        font-size: 13px;
        margin-left: -20px; 
    }

    

}