*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(img/ssph1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation:change 35s infinite ease-in-out;
}
.title{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
}
.logo{
    width: auto;
    cursor: pointer;
}
.logo strong{
    font-size: 25px;
    margin: 16%;
    color: #16e45b;
}
#logo-text{
    color:#fff;
}
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #16e45b;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
#menuBtn{
    width: 5%;
    margin-top: 50px;
    text-align: center;
    position: fixed;
    right: 25px;
    top:1px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 35px;
    margin-top: 1px;
    border-radius: 35px;
}

.content{
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-50);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: -30px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #16e45b;
    background: transparent;
    cursor: pointer;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
#button{
    background: #16e45b;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -2;
    transition: 0.5s;
}

button:hover #button{
    width: 100%;
    z-index: -1;
}
button:hover{
    border: none;
}

@media screen and (max-width:770px){
    .content h1{
        font-size: 44px;
    }
    
}

@keyframes change{
0%
{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(img/ssph2.png);
}
30%
{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(img/ssph3.png);
}
60%
{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(img/ssph4.png);
}
90%
{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(img/ssph5.png);
}
120%
{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(img/ssph6.png);
}
150%
{
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(img/ssph7.png);
}
}