*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing:border-box;
}
body{
    background:linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(../img/blackbg.jpg);
}


/*--Logo--*/

.title{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
}
.logo{
    width: auto;
    cursor: pointer;
}
.logo strong{
    font-size: 25px;
    margin: 16%;
    color: #08A045;
}
#logo-text{
    color:#fff;
}

/*--Side Menu--*/

#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #08A045;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.drop-down ul {
    display: none;
    margin-top: 10px; 
}
.drop-down.active ul {
    display: block;
}
#options li{
    margin: 30px;
}
.arrow {
    display: inline-block;
    margin-left: 10px;
    transition: transform 0.3s;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transform: rotate(90deg)
}
nav ul li a:hover{
    background-color: #16e45b;
    border-radius: 4px;
    height: 40px;
}
#menuBtn{
    width: 5%;
    margin-top: 50px;
    text-align: center;
    position: fixed;
    right: 25px;
    top:1px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 35px;
    margin-top: 1px;
    border-radius: 35px;
}

/*--Content--*/

/*--Title Text--*/
.title-container{
    background-color: #08A045;
    padding: 20px;
    margin-top: 50px;
}
#title{
    font-size: 45px;
    text-align: center;
    color: #fff;
    margin: 20px;
}
/*--Main Content--*/
.age-limit h3{
    text-align: center;
    color: rgba(250,255,25,1);
    padding: 30px;
    margin-top: 70px;
    font-size: 35px;
}
.age-limit p{
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    font-style: oblique;
}
.waiver h3{
    color: rgba(250,255,25,1);
    text-align: center;
    margin-top: 40px;
    font-size: 35px;
}
.waiver p{
    color: #fff;
    text-align: center;
    line-height: 45px;
    margin: 20px;
    font-size: 25px;
    font-style: oblique;
}
.waiver a{
    color: rgba(250,255,25,1);
}
.safety h3{
    color: rgba(250,255,25,1);
    text-align: center;
    font-size: 35px;
    margin-top: 40px;
}
.safety p{
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-style: oblique;
    line-height: 45px;
    margin-top: 20px;
}
.protection h3{
    color: rgba(250,255,25,1);
    text-align: center;
    font-size: 35px;
    margin-top: 40px;
}
.protection p{
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-style: oblique;
    margin-top: 20px;
    line-height: 40px;
}
.protection p strong{
    color: #16e45b;
}
.bbs h3{
    color: rgba(250,255,25,1);
    text-align: center;
    font-size: 35px;
    margin-top: 40px;
}
.bbs p{
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin: 20px;
    font-style: oblique;
    line-height: 40px;
}
.fps-limit h3{
    color: rgba(250,255,25,1);
    text-align: center;
    font-size: 35px;
    margin-top: 40px;
}
.fps-limit p{
    color: #fff;
    text-align: center;
    font-size: 25px;
    line-height: 45px;
    font-style: oblique;
}
.fps-limit h5{
    color: rgba(250,255,25,1);
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}
#fps strong{
    color: #16e45b;
}
.page-ender{
    color: #fff;
    text-align: center;
    margin-top: 40px;
    margin-bottom: -175px;
    font-size: 25px;
    line-height: 40px;
}

/*--Google Map--*/

.map-section {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 230px; /* Adjust the height as needed */
    filter: blur(0px); /* Initial blur effect */
    margin-top: 200px;
}
.map-container {
    width: 100%;
    height: 255px;
    position: relative;
    filter: blur(0px); /* Apply the initial blur */
}
#map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.map-container iframe{
    width: 100%;
    height: 250px;

}

/*--Footer--*/

.footer{
    background-color: black;
    padding-bottom: 15px;
    padding-left: 15px;
    margin-top: auto;
    padding-top: 30px;
    padding-right: 15px;
}
#logo-img{
    text-align:center;
    margin-bottom: 5px;

}
#contact-info{
    color: #fff;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    
    
}
#contact-info img{
    padding: 0 5px;
    margin-left: 15px;
    text-align: center;
    margin-right: -5px;
    color: #fff;

}
#contact-info img text{
    color: #fff;
}
#copyright{
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;

}



/*--smaller screen changes--*/

@media screen and (max-width:770px){
    nav ul li a{
        font-size: 15px;
    }
    #menuBtn{
        margin-right: 15px;
    }
    #title{
        font-size: 30px;
    }
    .age-limit h3{
        font-size: 25px;
    }
    .age-limit p{
        font-size: 18px;
        margin: 5px;
    }
    .waiver h3{
        font-size: 25px;
    }
    .waiver p{
        font-size: 18px;
        margin: 15px;
    }
    .safety h3{
        font-size: 25px;
    }
    .safety p{
        font-size: 18px;
        margin: 15px;
    }
    .protection h3{
        font-size: 25px;
    }
    .protection p{
        font-size: 18px;
    }
    .bbs h3{
        font-size: 25px;
    }
    .bbs p{
        font-size: 18px;
    }
    .fps-limit h3{
        font-size: 25px;
    }
    .fps-limit p{
        font-size: 18px;
        margin: 5px;
    }
    .fps-limit h5{
        font-size: 20px;
    }
    .page-ender{
        font-size: 16px;
    }
    #copyright{
        font-size: 14px;
    }
    #contact-info{
        font-size: 13px;
        margin-left: -20px; 
    }

    

}